In [1]:
import pandas as pd

In [2]:
oo = pd.read_csv('/home/catr1ne55/PycharmProjects/epam_training_python/lec10/Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.csv', skiprows=4)

## HW #L10.1
### Постройте таблицу в которой по годам всех олимпиад покажите топовых атлетов США(1 атлет на год) по общему количеству медалей? Включите дисциплину атлета.

In [3]:
# выберем только атлетов из США
usa = oo[oo.NOC == 'USA']
aggregations = {'Medal': 'count'}
# построим таблицу, где у каждого атлета указано количество заработанных золотых, серебряных и бронзовых
# медалей за олимпиаду соответственно
groups = usa.groupby(['Edition', 'Athlete', 'Discipline', 'Medal']).agg(aggregations).unstack('Medal', fill_value=0)
groups.columns = groups.columns.droplevel()
# добавим колонку с общим количеством заработанных медалей для каждого спортсмена
groups['Total'] =  groups['Gold'] + groups['Silver'] + groups['Bronze']
groups = groups.reset_index()

In [4]:
# метод, позволяющий вычислить максимальное количество медалей, заработанных за олимпиаду,
# а также атлета, соответствующего этому количеству медалей
def best_result(groups):
    max_number_medals = max(groups.Total)
    for i in groups.index:
        if groups.Total[i] == max_number_medals:
            return groups.loc[i]
        
# выберем по одному лучшему атлету за год, используя метод, описанный выше        
top1_for_year = groups.groupby('Edition').apply(best_result).drop(columns='Edition')
top1_for_year.columns.name = 'Idx'
top1_for_year = top1_for_year.reset_index()
# в данном случае мы учитываем только одного атлета с максимальным количеством медалей, который попадается первым,
# если таковых несколько за год
top1_for_year

Idx,Edition,Athlete,Discipline,Bronze,Gold,Silver,Total
0,1896,"GARRETT, Robert",Athletics,0,2,2,4
1,1900,"BAXTER, Irving",Athletics,0,2,3,5
2,1904,"DOWNING, Burton",Cycling Track,1,2,3,6
3,1908,"SHEPPARD, Melvin",Athletics,0,3,0,3
4,1912,"OSBURN, Carl Townsend",Shooting,1,1,2,4
5,1920,"LEE, Willis",Shooting,1,5,1,7
6,1924,"EDERLE, Gertrude",Swimming,2,1,0,3
7,1928,"BARBUTI, Raymond James",Athletics,0,2,0,2
8,1932,"DIDRIKSON, Mildred",Athletics,0,2,1,3
9,1936,"OWENS, Jesse",Athletics,0,4,0,4
10,1948,"CURTIS, Ann Elisabeth",Swimming,0,2,1,3
11,1952,"KONNO, Ford Hiroshi",Swimming,0,2,1,3
12,1956,"BAKER, Walter Thane",Athletics,1,1,1,3
13,1960,"VON SALTZA, Susan Christina",Swimming,0,3,1,4
14,1964,"ELLIS, Kathleen",Swimming,2,2,0,4
15,1968,"HENNE, Jane Margo",Swimming,1,2,1,4
16,1972,"SPITZ, Mark",Swimming,0,7,0,7
17,1976,"BABASHOFF, Shirley Farber",Swimming,0,1,4,5
18,1984,"RETTON, Mary-Lou",Artistic G.,2,1,2,5
19,1988,"BIONDI, Matthew",Swimming,1,5,1,7
20,1992,"MILLER, Shannon",Artistic G.,3,0,2,5
21,1996,"HALL, Gary Jr.",Swimming,0,2,2,4
22,2000,"TORRES, Dara",Swimming,3,2,0,5
23,2004,"PHELPS, Michael",Swimming,2,6,0,8
24,2008,"PHELPS, Michael",Swimming,0,8,0,8