In [1]:
import pandas as pd

In [2]:
oo = pd.read_csv('/home/catr1ne55/PycharmProjects/epam_training_python/lec10/Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.csv', skiprows=4)

## Task #L10.2

### 1. На какой дистанции Jesse Owens выиграл медаль?

In [3]:
oo[oo.Athlete == 'OWENS, Jesse']['Event']

6427            100m
6439            200m
6456    4x100m relay
6523       long jump
Name: Event, dtype: object

#### Таким образом, мы видим, что Jesse Owens выиграл медаль в нескольких соревнованиях, среди которых есть нужные нам: 100 и 200 метров, а также эстафета 4*100 м.

### 2. Какая страна выиграла большинство золотых медалей мужчинами в бадминтоне? Отсортировать результат в алфавитном порядке по имени игрока.

#### Сначала найдем страну, в которой большинство золотых медалей принадлежит мужчинам в бадминтоне.

In [5]:
oo[(oo.Discipline == 'Badminton') & (oo.Gender == 'Men') & (oo.Medal == 'Gold')].NOC.value_counts()

INA    8
KOR    6
CHN    4
DEN    1
Name: NOC, dtype: int64

#### Теперь выведем всех спортсменов-бадминтонистов с золотыми медалями этой страны в алфавитном порядке:

In [6]:
oo[(oo.Discipline == 'Badminton') & (oo.Gender == 'Men') & (oo.Medal == 'Gold') & (oo.NOC == 'INA')].sort_values(by='Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold

### 3. Какие три страны выиграли большинство медалей в последние годы (с 1984 по 2008)?

In [7]:
oo[(oo.Edition >= 1984) & (oo.Edition <= 2008)].NOC.value_counts()[:3]

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

#### США, Австралия и Германия

### 4. Покажите мужчин золотых медалистов по 100m. Выведите результаты по убыванию года выигрыша. Покажите город, в котором проходила олимпиада, год, имя атлета и страну, за которую он выступал.

In [8]:
oo[(oo.Event == '100m') & (oo.Gender == 'Men') & (oo.Medal == 'Gold')].sort_values(by='Edition', ascending=False)[['City', 'Edition', 'Athlete', 'NOC']]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA

## End of Task #L10.2